APP_NAME="Notification Service"
APP_ENV=local
APP_KEY=base64:v2qZgqyyjH3iSoTP57iKq9WkYWPhx2O4eVzU4a41GPQ=
APP_DEBUG=true
APP_URL=http://localhost:8080

LOG_CHANNEL=stderr
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=notification_db
DB_USERNAME=notification_user
DB_PASSWORD=notification_pass

CACHE_STORE=redis
SESSION_DRIVER=redis
QUEUE_CONNECTION=sync

REDIS_CLIENT=predis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=notification_user
RABBITMQ_PASSWORD=notification_pass
RABBITMQ_VHOST=/
RABBITMQ_QUEUE_HIGH=notifications.high
RABBITMQ_QUEUE_LOW=notifications.low
NOTIFICATION_MAX_ATTEMPTS=3
